<template>
  <div class="AddTodo">
    <form @submit.prevent="add_todo" class="container mx-auto row gap-4">
      <label for="exampleInputAddTodo1" class="form-label">Add Todo</label>
      <input
        type="AddTodo"
        class="form-control"
        v-model="title"
        ref="InputAddTodo1"
        id="exampleInputAddTodo1"
        aria-describedby="AddTodoHelp"
        placeholder="Please write the task title"
      />
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</template>
<script>
import { mapActions, mapGetters } from "vuex";
import router from "@/router/index.js";

export default {
  name: "AddTodo",
  data() {
    return {
      title: "",
    };
  },
  methods: {
    ...mapActions(["addTodo"]),
    ...mapGetters(["getTodos"]),

    add_todo() {
      if (this.title == "") {
        this.$refs.InputAddTodo1.classList.add("border");
        this.$refs.InputAddTodo1.classList.add("border-warning");
        return 0;
      } else {
        this.addTodo({
          status: "doing",
          message: this.title,
        });

        const myTODO = JSON.stringify(this.getTodos());
        localStorage.setItem("todos", myTODO);

        router.push("/");
      }
    },
  },
  watch: {
    title() {
      if (this.title == "") {
        this.$refs.InputAddTodo1.classList.add("border");
        this.$refs.InputAddTodo1.classList.add("border-warning");
      } else {
        this.$refs.InputAddTodo1.classList.remove("border");
        this.$refs.InputAddTodo1.classList.remove("border-warning");
      }
    },
  },
};
</script>
