<template>
  <div class="home">
    <Default />
  </div>
</template>

<script>
// @ is an alias to /src
// import HelloWorld from "@/components/HelloWorld.vue";
import Default from "@/components/Todo/Default.vue";

export default {
  name: "Home",
  components: {
    Default,
  },
};
</script>
