<template>
  <div class="Default d-flex gap-3">
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <div class="w-100 text-white bg-primary p-2 mb-2">doing</div>
          <div class="d-flex flex-column">
            <DoingTodo />
          </div>
        </div>
        <div class="col-sm-4">
          <div class="w-100 text-white bg-warning p-2 mb-2">done</div>
          <div class="d-flex flex-column">
            <DoneTodo />
          </div>
        </div>
        <div class="col-sm-4">
          <div class="w-100 text-white bg-danger p-2 mb-2">failed</div>
          <div class="d-flex flex-column">
            <FailedTodo />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import DoneTodo from "@/components/Todo/DoneTodo.vue";
import DoingTodo from "@/components/Todo/DoingTodo.vue";
import FailedTodo from "@/components/Todo/FailedTodo.vue";

export default {
  name: "Default",
  components: {
    DoneTodo,
    DoingTodo,
    FailedTodo,
  },
};
</script>
