<template>
  <div class="DoingTodo">
    <div class="w-100">
      <div
        v-for="todo in list"
        :key="todo.message"
        class="w-100 d-flex justify-content-between"
      >
        <div class="d-flex gap-2">
          <img
            @click="setStatus({ id: todo.id, status: 'failed' })"
            class="icon"
            src="../../assets/close.png"
          />
          <img
            @click="setStatus({ id: todo.id, status: 'done' })"
            class="icon"
            src="../../assets/correct.png"
          />
        </div>

        <span class="d-flex gap-1">
          {{ todo.message }}
          <img
            @click="deleteTodo(todo.id)"
            class="icon"
            src="../../assets/close.png"
          />
        </span>
      </div>
    </div>
  </div>
</template>

<script>
// setStatus
import { mapState, mapActions } from "vuex";

export default {
  name: "DoingTodo",
  methods: {
    ...mapActions(["setStatus", "deleteTodo"]),
  },
  computed: mapState({
    list: (state) => {
      let filterList = [];
      state.todos.forEach((element) => {
        if (element.status == "doing") {
          filterList.push(element);
        }
      });
      return filterList;
    },
  }),
};
</script>
<style lang="scss">
.icon {
  width: 20px;
  height: 20px;
}
</style>
