<template>
  <div class="DoneTodo container mx-auto">
    <div class="d-flex flex-column-reverse">
      <span
        @click="backToDoing(todo.id)"
        v-for="todo in list"
        :key="todo.message"
        class="p-1"
        >{{ todo.message }}</span
      >
    </div>
  </div>
</template>

<script>
import { mapState, mapActions } from "vuex";

export default {
  name: "DoneTodo",
  methods: {
    ...mapActions(["backToDoing"]),
  },
  computed: mapState({
    list: (state) => {
      let filterList = [];
      state.todos.forEach((element) => {
        if (element.status == "done") {
          filterList.push(element);
        }
      });
      return filterList;
    },
  }),
};
</script>

<style></style>
