<template>
  <div id="nav">
    <router-link to="/">Home</router-link> |
    <router-link to="/AddTodo">Add Todo</router-link>
  </div>
  <router-view />
</template>
<script>
import { mapActions } from "vuex";

export default {
  methods: {
    ...mapActions(["setAllTodos"]),
  },
  mounted() {
    let todos = localStorage.getItem("todos");
    if (todos) {
      let info = JSON.parse(todos);
      this.setAllTodos(info);
    }
  },
};
</script>
<style lang="scss">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;

  a {
    font-weight: bold;
    color: #2c3e50;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
</style>
